# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
# =============== #
# Unity generated #
# =============== #
# Files to ignore
 *.csproj
 *.sln
 *.pidb
 *.userprefs
 Library/
 Temp/
 .DS_Store
